tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-datasets
tensorflow-estimator
tensorflow-macos
tensorflow-metadata
scikit-image
scikit-learn
scipy
seaborn
ipdb9
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server0
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaggle2
keras0
Keras-Preprocessing
matplotlib
matplotlib-inline
pandas
pandas-gbq9
pandas-profiling
pydot
