tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-datasets
tensorflow-estimator
tensorflow-macos
tensorflow-metadata
scikit-image
scikit-learn
scipy
seaborn
kaggle
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
pandas
pandas-gbq
pandas-profiling
pydot
